<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Drivers</title>
</head>
<body>
    <h1>All Drivers</h1>
    <div class="tables-container">
    <table border="1">
        <thead>
            <tr>
                <th>Driver Name</th>
                <th>Nationality</th>
                <th>Age</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            {% for driver in drivers %}
            <tr>
                <td>{{ driver.Driver_Name }}</td>
                <td>{{ driver.Nationality }}</td>
                <td>{{ driver.Age }}</td>
                <td>{{ driver.Team }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="align-center">
        <a href="{{ url_for('index') }}">
            <input type="button" value="Back to home">
        </a>
    </div>
</body>
</html>
