<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Teams</title>
    <style>
         body {

            margin: auto;
            width: 50%; /* You can adjust this value based on your preference */
        }
    </style>

</head>
<body>
    <h2>ALL TEAMS</h2>
    <div class="tables-container">
    <table border="1">
        <thead>
            <tr>
                <th>Pos</th>
                <th>Team Name</th>
                <th>Driver 1</th>
                <th>Driver 2</th>
                <th>Total Points</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ team.Pos }}</td>
                    <td>{{ team.Team_Name }}</td>
                    <td>{{ team.Driver_1_Name }}</td>
                    <td>{{ team.Driver_2_Name }}</td>
                    <td>{{ team.Total_Points }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="align-center">
        <a href="{{ url_for('index') }}">
            <input type="button" value="Back to home">
        </a>
    </div>

</body>
</html>