<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h1>New Team</h1>
    </div>
    <div>
        <div>
            <h3>Driver details</h3>
        </div>
        <form action="/fiaAdmin/createteam" method="post">
            <label for="teamId">Team ID:</label>
            <input type="text" id="teamId" name="teamId" required><br>
            
            <label for="teamName">Name:</label>
            <input type="text" id="teamName" name="teamName" required><br>
            
            <label for="teamOrigin">Origin:</label>
            <input type="text" id="teamOrigin" name="teamOrigin" required><br>

            <label for="driver1">Driver 1:</label>
            <select id="driver1" name="driver1" required>
                {% for driver in drivers %}
                <option value="{{ driver['Driver_Id'] }}">{{ driver['Driver_Name'] }}</option>
                {% endfor %}
            </select><br>

            <label for="driver2">Driver 2:</label>
            <select id="driver2" name="driver2" required>
                {% for driver in drivers %}
                <option value="{{ driver['Driver_Id'] }}">{{ driver['Driver_Name'] }}</option>
                {% endfor %}
            </select><br>

            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>