<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constructor Standings</title>
    <style>

        .tables-container {
            overflow: hidden;
        }

        table {
            float: left;
            margin-right: 20px;
        }

        .buttons-container {
            clear: both;
        }
    </style>
</head>
<body   >
    <h2>F1 DATABASE</h2>
    <div class="tables-container">
    <table border="1">
        <thead>
            <tr>
                <th>Pos</th>
                <th>Team Name</th>
                <th>Total Points</th>
            </tr>
        </thead>
        <tbody>
            {% for standing in constructorStandings %}
                <tr>
                    <td>{{ standing.Pos }}</td>
                    <td>{{ standing.Team_Name }}</td>
                    <td>{{ standing.Total_Points }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table border="1">
        <thead>
            <tr>
                <th>Pos</th>
                <th>Driver Name</th>
                <th>Total Points</th>
            </tr>
        </thead>
        <tbody>
            {% for standing in driverStandings[:10] %}
                <tr>
                    <td>{{ standing.Pos }}</td>
                    <td>{{ standing.Driver_Name }}</td>
                    <td>{{ standing.Total_Points }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div>
        <a href="{{ url_for('allteams') }}">
        <input type="button" value="All Teams" ></a>
        <a href="{{ url_for('races') }}">
            <input type="button" value="RACES">
        </a>
         <a href="{{ url_for('login') }}">
             <input type="button" value="Admin Mode"></a>
    </div>

</body>
</html>
